body {
	margin: 0;
}
.wrap {
	max-width: 850px;
	margin: 0 auto;
}
header {
	background: gray;
	padding: 2px;
}
header ul {
	float: right;
	margin-top: -40px;
}
header li {
	display: inline;
	padding: 5px;
}
#welcome {
	text-align: center;
	padding-top: 45px;
}
#about article {
	width: 220px;
	padding: 15px;
	float: right;
	display: block;
}
#about {
	position: relative;
	top: 60px;
	right: 30px;
}